*.cache
*.vs
*.tlog
*.runtimeconfig.*
*.assets.json
*.dgspec.json
*FileListAbsolute.txt
*.pdb
*.idb
*.obj
*.pch
*/bin/*
*/obj/*
*/x64/*
InjectDLL.log
SeedGen/out
SeedGen/seeds
.idea*
*.iml
/Debug
/obj
/.vsold/
SeedGen/project*
SeedGen/target*
Web/*