*.cache
*.vs
*.tlog
*.runtimeconfig.*
*.assets.json
*.dgspec.json
*FileListAbsolute.txt
*.pdb
*.idb
*.obj
*.pch
*.csproj
*/bin/*
*/obj/*
*/x64/*
Randomizer.log
.idea*
*.iml
/Debug
/obj
/.vsold/
**/target/
projects/Web/wotw-rando-seedgen/null
projects/SeedGen/out
projects/SeedGen/seeds
projects/SeedGen/project*
projects/SeedGen/target*
projects/SeedGen/*.wotwr
Web/*
*.user
build/*
out/*
projects/Injector/bin/*
projects/Injector/obj/*
projects/SeedGen/nofluff.wotw
projects/wotw-server/gradle/*
projects/wotw-server/gradlew
projects/wotw-server/gradlew.bat
projects/wotw-server/.sessions*
projects/SeedGen/src/main/scala/Version.scala
