*.cache
*.vs
*.tlog
*.runtimeconfig.*
*.assets.json
*.dgspec.json
*FileListAbsolute.txt
*.pdb
*.idb
*.obj
*.pch
*.csproj
*/bin/*
*/obj/*
*/x64/*
InjectDLL.log
.idea*
*.iml
/Debug
/obj
/.vsold/
**/target/
projects/Web/wotw-rando-seedgen/null
projects/SeedGen/out
projects/SeedGen/seeds
projects/SeedGen/project*
projects/SeedGen/target*
projects/SeedGen/*.wotwr
Web/*
*.user
build/*
projects/Injector/bin/*
projects/Injector/obj/*
projects/SeedGen/nofluff.wotw
